* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --bg-dark: #1f1f1d;
  --bg-grey: #292927;
  --bg-darkgrey: #3d3d3b;
  --text-color: rgba(255, 255, 255, 0.5);
  --border-dark: #ffffff1a;
  --box-shadow-dark: rgba(130, 138, 145, 0.2);
  --content-width: 1000px;
  --content-height: 300px;
  --btn-bg-color: #219bac;
}
body {
  background: var(--bg-dark);
}
.btn-toolbar {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-dark) !important;
}
.baiTap__content {
  position: fixed;
  inset: 50% 50% 50% 50%;
  width: var(--content-width);
  height: var(--content-height);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--bg-grey);
  color: var(--text-color);
  overflow: hidden;
}

button:focus,
input:focus-visible,
select:focus-visible {
  box-shadow: 0 0 0 1px var(--box-shadow-dark) !important;
  outline: 1px solid var(--border-dark);
}
.baiTap__content button.btn-secondary {
  background-color: var(--bg-darkgrey);
  border-radius: 7px;
  color: var(--text-color);
  border-color: var(--border-dark);
  padding: 15px 20px;
}

.bt__content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 7px;
  transition: 1000ms;
}

.bt input,
.bt select {
  color: var(--text-color);
  background-color: var(--bg-darkgrey);
  height: 50px;
  min-width: calc(var(--content-width) / 3 - 20px);
  border: 1px var(--border-dark);
  border-radius: 7px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
}

.bt button {
  color: var(--bg-dark);
  font-size: 1.5rem;
  background-color: var(--btn-bg-color);
  height: 50px;
  width: 50px;
  border: 1px var(--border-dark);
  border-radius: 50px;
  margin-top: 10px;
  text-align: center;
}
.ketQua {
  width: calc(var(--content-width) - 104px);
  border-radius: 7px;
  margin-left: 10px;
  background-color: var(--bg-dark);
  margin-top: 10px;
}
.ketQua h3 {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 50px;
  padding: 0 20px;
  margin: 0;
}
